<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JJSwiftLog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JJSwiftLog.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>JJSwiftLogCarthage.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>614D5A7B23BA09AF004E7AA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>614D5A8323BA09AF004E7AA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6150531E23B606400097C4D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6150533423B606460097C4D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
